html,body{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/static/media/sled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    height: 18cm;
    width: 15cm;
    text-align: middle;
    margin: 4cm;
    margin-left: 16cm; }
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
form{
    margin: 3cm;
    margin-top: 1cm;
    font-size: x-large;
}
h2{
    text-align: center;
}
#rules{
    display: inline;
    padding: 0;
    margin: 0;
    width: 10%;
    margin-bottom: 20px;
}
body{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}
.submit{
    font-size: large;
    background: rgb(40, 101, 167);
}
.submit:hover{
    background: #7c2188;
}